# Name of the workflow
name: get_meetings_foreseen_activities

# Event - What starts this workflow?
# on: [push, workflow_dispatch]
# on: [workflow_dispatch]
on:
  schedule:
    # At 00:01
    - cron: "1 0 * * *" # every day, at 00:01
    # - cron: "1 */1 * * *" # every hour, at minute 1
    # - cron: "1 */4 * * *" # every 4 hours, at minute 1



# Jobs - What the Action should do?
jobs:
  get-meetings-foreseen-activities:
    # Use Ubuntu
    runs-on: ubuntu-latest
    steps:
      # enable Action to see structure and content of GitHub repo
      - name: Check out repository
        uses: actions/checkout@v4

      # Install R
      - name: Load R
        uses: r-lib/actions/setup-r@v2
        with:
          # use public RStudio package manager
          use-public-rspm: true

      # install R packages
      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        # further details on packages
        with:
          # cache them
          cache-version: 2
          # list additional packages
          packages: |
            any::curl
            any::data.table
            any::here
            any::httr2
            any::janitor
            any::jsonlite
            any::pacman
            any::pak
            any::tidyverse

      # print message
      - name: R get meetings foreseeen activities via EP API
        # Code to execute R script
        run: Rscript scripts_r/api_meetings_foreseen_activities.R
      # Commit files otherwise it would run without saving anything
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
            commit_message: Update Foreseen Activities

