# Name of the workflow
name: get_MEPs

# Event - What starts this workflow?
on: workflow_dispatch
# on:
#   schedule:
#   # At 00:05AM, from MON to FRI
#     - cron: "5 0 * * 1-5"

# Permissions
permissions:
  contents: write
    
# Jobs - What the Action should do? 
jobs:
  get-MEPs:
    # Use Ubuntu   
    runs-on: ubuntu-latest 
    steps:
      # enable Action to see structure and content of GitHub repo
      - name: Check out repository
        uses: actions/checkout@v4

      # Install R
      - name: Load R
        uses: r-lib/actions/setup-r@v2
        with:
          # use public RStudio package manager
          use-public-rspm: true

      # install R packages
      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        # further details on packages
        with:
          # cache them
          cache-version: 2
          # list additional packages
          packages: |
            any::curl
            any::data.table
            any::dplyr
            any::here
            any::httr2
            any::lubridate
            any::janitor
            any::jsonlite
            any::pacman
            any::readr
            any::stringi
            any::tidyr
            any::tidyselect
        
      # print message
      - name: R get MEPs   
        # Code to execute R script
        run: Rscript scripts_r/api_meps.R
      # Commit files otherwise it would run without saving anything
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
            commit_message: Update MEPs
